0-scraping/
1-gp3_conversion/
2-separate_tracks/
3-only_E_standard/
jsonl_dataset/
viterbi_preds/
data/
labels/
node_modules/
scraping_scripts/
dev_folder/
python/__pycache__
dataset.json
node_modules
dist
yarn.lock
yarn-error.log
store
tmp
.vscode