.timeframe-input {

    float: left;
    height: 100%;

    > div {

        color: #fff;
        background: rgba(0, 0, 0, 0.4);
        border-right: 1px solid #c2c2c2;
        text-align: center;
        padding: 0 10px;
        float: left;
        height: 100%;
        font-size: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: all 250ms;

        &[data-selected="1"] {
            background: rgba(0, 0, 0, 0.9);
        }
    }
}