$main-color: #006865;
$main-color-2: #00897F;
$main-color-3: #1DA39C;
$main-color-4: #5ACCC1;
$main-color-5: #AFE0D8;
$main-color-6: #D3EFEC;
$main-color-7: #EDF4F3;
$main-color-8: #d3e3e1;

$secondary-color: #49B78B;
$secondary-color-2: #50D69C;
$secondary-color-3: #77E8B8;
$secondary-color-4: #A2F4CF;
$secondary-color-5: #DAF2E2;
$secondary-color-6: #E1F4E9;
$secondary-color-7: #F0F7F3;

$neutral-color: #eaeaea;
$neutral-color-2: #f5f5f5;

$background-color: #f3f3f3;