/* +=============================+ */
/* |        LAUNCH SCREEN        | */
/* +=============================+ */

html, body {
    background: #f3f3f3;
}

#launch-screen {
    position: fixed;
    z-index: 12345;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: all 0.4s;
    background: #f3f3f3;
}

#app[data-ready="1"] #launch-screen {
    opacity: 0;
    visibility: hidden;
}

#launch-screen .container, 
.loader-container {
    position: absolute;
    transform: translateY(-50%) translateX(-50%);
    top: 50%;
    left: 50%;
    width: 80px;
    height: 44px;
}

.launch-screen-loader-container {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    width: 100%;
    height: 100%;
}

.launch-screen-loader-container .logo {
    
    animation: search-container-animation 250ms normal forwards ease-in-out;

    @keyframes search-container-animation {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}